<div class='page-header' id="header">
    <div class="row">
        <div class='col-sm-12'>
            <h1> New Contact </h1>
            <p class="lead">Add a new contact</p>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-sm-6'>
        <form name='newContact' novalidate class='form-horizontal'>
            <form-field record='contact' field='firstName' type='text' live='false' required='true'></form-field>
            <form-field record='contact' field='lastName' type='text' live='false' required='true'></form-field>
            <form-field record='contact' field='username' type='text' live='false' required='true'></form-field>
            <form-field record='contact' field='email' type='email' live='false' ></form-field>
            <form-field record='contact' field='homePhone' type='tel' live='false' ></form-field>

            <div class='row form-group'>
                <div class='col-sm-offset-6'>
                    <button class='btn btn-primary' ng-click='save()'> Create Contact </button>
                </div>
            </div>

        </form>
    </div>
</div>
